{% extends "::base.html.twig" %}

{% block title %}ItkgLegacyBundle:Demo:demo{% endblock %}

{% block body %}
<h1>Welcome to the Demo:demo page</h1>
    <p>
        Demo count : {{ demo.count }}
    </p>
{% endblock %}
